
body{
    background-color: #182139;
    min-width: 500px;
}

#container{
    width: 90%;
    margin: 1% auto;
}

header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 1% auto;
    width: 90%;
    padding-bottom: 0;
}

h1{
    margin-bottom: 0;
    color: white;
}

main{
    margin: 1% 5%;
    /* height: 85%; */
    background-color: #aba597;
}

#form-button-container{
    width: 100%;
    margin: 1% 0;
    display: flex;
    justify-content: space-between;
    background-color: #182139;
    border-top: 1px solid#aba597;
    padding-top: 3px;
}

#form-container{
    width: 80%;
}

form{
    width: 100%;
    display: flex;
}

.form-section{
    margin: 3px;
}

#add-button{
    height: 100%;
    width: 92%;
}

form, input,
button, .book, main{
  border: none;
   border-radius: 3px;
}

.form-label{
    margin: 3px;
    width: 90%;
    color: white;
}

#title-label, #title-input{
    margin-left: 0;
}

.form-input{
    width: 90%;
    margin: 3px;
}

#read-input{
    height: 15px;
}

#delete-container{
    margin-left: auto;
}

#delete-button{
    width: 80%;
    height: 78%;
    background-color: red;
}

#grid-container{
    margin: 1% auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.book, .example-book{
    width: 180px;
    height: 230px;
    margin: 1%;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #dbb039;
    box-shadow: 0 0 0 1px black;
}

.book-section-1{
    width: 95%;
    height: 78%;
    margin: 0.5% auto;
    padding: 1px 1px 0 1px;;
    display: flex;
    flex-direction: column;
}

.book-pages,
.book-author,
.book-read{
    font-size: .7em;
}

.book-title{
    padding-top: 0;
}

.book-section-2{
    width: 95%;
    height: 15%;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.update-button{
    width: 35%;
    height: 65%;
    padding: 2px;
}

.demo-del-icon,
.delete-icon{
    height: 50%;
}


button:hover, input:focus, button:focus{
    box-shadow: 0 0 0 1px #aba597; 
}

img:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 595px) {
    form {
      flex-direction: column;
      margin: 2% 0 2% 15%;
    }

    #grid-container{
        justify-content: center;
    }

     #form-button-container {
       flex-direction: column;
      }

     #read-section{
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #add-section{
        width: 25%;
        height: 100%;
        display: inline;
    }

    #delete-container{
        margin: 2% 15% 2% auto;
    }
}
